@import '../../../variables';

.root {
    display: block;
    color: $text-color;
    text-decoration: none;
    font-weight: 500;

    &:hover,
    &:focus {
        outline: none;
        color: $secondary;
    }
}

.active {
    color: $primary;
}
