@import '../../../variables';
@import '../../../mixins';

.logoLink {
    display: inline-block;
    position: relative;
    margin-bottom: 100px;
    line-height: 0;
    z-index: 5;
}

.logo {
    height: 50px;
}

nav {
    z-index: 4;
}

.navFooter {
    display: none;
    height: 1.5rem;
    margin: 0.5rem;
    margin-bottom: 0;
    opacity: 0.5;
    font-weight: 200;
}

/*!
 * btnCollapses
 * @description Tasty CSS-animated btnCollapses
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/btnCollapses
 * @link https://github.com/jonsuh/btnCollapses
 */

.btnCollapseBox {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.btnCollapseInner {
    display: block;
    top: 50%;
    margin-top: -2px;
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.btnCollapseInner,
.btnCollapseInner::before,
.btnCollapseInner::after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 0.5rem;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.btnCollapseInner::before,
.btnCollapseInner::after {
    content: '';
    display: block;
}

.btnCollapseInner::before {
    top: -10px;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.btnCollapseInner::after {
    bottom: -10px;
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.btnCollapse {
    width: 30px;
    height: 24px;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    background-color: transparent;
    border: 0;
    padding: 0;
    overflow: visible;

    @include hover {
        opacity: 0.7;
    }

    &:focus {
        outline: none;

        /*
        .btnCollapseInner,
        .btnCollapseInner::before,
        .btnCollapseInner::after {
            background-color: darken(#fff, 10%);
        } */
    }

    &.active {
        @include hover-focus {
            opacity: 0.7;
        }

        .btnCollapseInner {
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .logoLink {
        margin: 0;
    }

    .logo {
        height: 30px;
    }

    nav {
        background: $body-bg;
        border-radius: 0.25rem;
        padding: 0.5rem;
    }

    .navBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .collapseContainer {
        padding-top: 30px;
    }

    .navFooter {
        display: block;
    }

    .btnCollapse {
        display: inline-block;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .collapseContainer {
        padding-top: 15px;
    }
}
